.form-container{
    margin:4rem 6rem;
    color:#2a2a2a;
    text-align: center;
}
.form-container h3{
    font-size: 26px;;
}
.form-container form{
    padding-top: 3rem;
    display:flex;
    flex-direction: column;
    width:50%;
    margin:auto;
}
.form-container input{
    
    padding:10px;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border:1px solid #ccc;
}
.form-container textarea{
    padding:1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
        border: 1px solid #ccc;

}
.form-container button{
    padding: 1rem 2rem;
        margin-bottom: 2rem;
        border-radius: 0.3rem;
        border: 1px solid #ccc;
        background-color: green;
        color:#fff;
        text-align: center;
}

@media screen and (max-width:760px){
    .form-container {
            margin: 4rem 2rem;
            color: #2a2a2a;
            text-align: center;
        }
    .form-container form{
        width:90%;
    }
}