.footer{
    background-color: black;
    width:100%;
    color:#fff;
    padding: 4rem 6rem;
}
.footer-top{
    display:flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.footer-link-heading{
    font-size: 18px;
    margin-bottom: 10px;
   
}
.footer-bottom{
    display:grid;
    grid-template-columns: repeat(6,1fr);
   
    align-items: center;
}

.footer-link .footer-list{
    list-style: none;
    display:inline;
}
.footer-link .footer-list a{
    text-decoration: none;
    text-transform: capitalize;
    display:block;
    line-height: 1.5rem;
    color:#fff;
    font-size: 14px;
    text-align: start;
}
@media screen and (max-width:760px){
    .footer{
        padding: 4rem 3rem;
    }
    .footer-bottom {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 2rem;
            align-items: center;
        }
}
@media screen and (max-width:460px) {
    .footer-bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        align-items: center;
    }
}