.hero{
    width:100%;
    height:100%;
    position: relative;
}
.hero-nature{
    width: 100%;
    height:600px;
    object-fit: cover;
}
.hero-text{
    position:absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);
    width:100%;
    justify-content: baseline;
    text-align: center;
    line-height: 4rem;
}
.hero-heading{
    font-size: 60px;
    color:#000;
}
.hero-paragraph{
    font-size: 30px;
    color:#fff;
}
a{
    text-decoration: none;
    color:#000;
}
.show{
    background-color: #fff;
    font-size: 20px;
    padding:10px 20px;
    
}
@media screen and (max-width:760px){
    .hero-text{
        line-height: 2.5rem;
        top: 50%;
       
    }
        .hero-heading {
            font-size: 30px;
            
        }
    
        .hero-paragraph {
            font-size: 20px;
        }
    
        
        .show {
            
            font-size: 16px;
            padding: 10px 20px;
    
        }
}